<div id="main">
    <div id="container">
      <h1>Total Fleet Issues</h1>
  
      <div id="buttons">
        <button class="btn-one">All Issues</button>
        <button class="btn-two">Errors</button>
        <button class="btn-three">Warnings</button>
      </div>
  
      <div class="carrier-heading">
        <h3>LNG Carrier 1</h3>
      </div>
  
      <div id="table-contents">
        <table>
          <thead>
            <tr>
              <th><input class="check-box" type="checkbox"></th>
              <th>Voyage ID</th>
              <th>Date/Time</th>
              <th>Voyage Info</th>
              <th>Voyage Stage</th>
              <th>Events</th>
              <th>TIME ELAPSED</th>
              <th>Distance</th>
              <th>Fuel Consumption</th>
              <th>ROB</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Your table content here -->
          </tbody>
        </table>
      </div>
      <div id="submit-button">
        <button>Submit</button>
      </div>
    </div>
  </div>
  