@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  margin: 10px;
}

#container {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 5px;
  padding: 5px;
}

h1 {
  text-align: left;
}

#buttons {
  text-align: left;
}

.btn-one,
.btn-two,
.btn-three {
  background-color: #008080;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color 0.3s;
}

.btn-one.active,
.btn-two.active,
.btn-three.active {
  background-color: #F9F9F9;
  color: rgb(88, 88, 88);
  font-weight: 500;
}

.carrier-heading {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  line-height: 1.5;
}

th {
  background-color: #f2f2f2;
}

#submit-button {
  margin-top: 50px;
  margin-right: 20px;
  text-align: right;
}

#submit-button button {
  background-color: #008080;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color 0.3s;
}
